{% extends 'base.html' %}

{% load leaflet_tags %}

{% block includes %}
  <script src="/media/js/map.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
  {% if photos %}
    {% leaflet_map 'photos' callback="window.customMap" %}
    <ul>
      {% for photo in photos %}
      <li>
        <p>{{ photo.title }}</p>
        <p class="gps">{{ photo.latitude }}, {{ photo.longitude }}</p>
        <br />
        <a href="/{{ photo.image.url }}">
          <img src="/{{ photo.image.url }}">
        </a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>None</p>
  {% endif %}
{% endblock %}
