{% extends 'base.html' %}

{% block body %}
  <h2>Add a new picture from your trip</h2>
  <form action="{% url 'photos:new' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="textbox" name="title" id="title" />
    <label for="title">Title</label><br />

    <p>{{ form.non_field_errors }}</p>
    <p>{{ form.image.label_tag }}</p>
    <p>
      {{ form.image.errors }}
      {{ form.image }}
    </p>
    <p><input type="submit" value="Upload" /></p>
  </form>
{% endblock %}
